<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>OpenElections Wisconsin</title>
  </head>
  <body>
    <div class="container" id="app">
      <!-- Content here -->
      <div class="row">
        <h1>
          OpenElections Wisconsin
        </h1>
        <a href="https://github.com/openelections/openelections-data-wi">View on GitHub</a>
      </div>
      <div class="row">
        <table class="table col-md-12" id="election-list">
          <thead class='container'>
            <tr class='row'>
              <!-- TODO: Checkbox? -->
              <th class='col-md-3'>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Year
                  </button>
                  <div class="dropdown-menu">
                    <div class="form-check dropdown-item" v-for="year in years" v-bind:key="year">
                      <input class="form-check-input" type="checkbox" value="" v-bind:id="'years-'+year" v-on:change="toggleYear(year)">
                      <label class="form-check-label" v-bind:for="'years-'+year">
                        {{ year }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="monthDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Month
                  </button>
                  <div class="dropdown-menu">
                    <div class="form-check dropdown-item" v-for="month in months" v-bind:key="month">
                      <input class="form-check-input" type="checkbox" value="" v-bind:id="'months-'+month" v-on:change="toggleMonth(month)">
                      <label class="form-check-label" v-bind:for="'months-'+month">
                        {{ month }}
                      </label>
                    </div>
                  </div>
                </div>
              </th>
              <th class='col-md-3'>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="typeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Election Type
                  </button>
                  <div class="dropdown-menu">
                    <div class="form-check dropdown-item" v-for="type in types" v-bind:key="type">
                      <input class="form-check-input" type="checkbox" value="" v-bind:id="'types-'+type" v-on:change="toggleType(type)">
                      <label class="form-check-label" v-bind:for="'types-'+type">
                        {{ type }}
                      </label>
                    </div>
                  </div>
                </div>
              </th>
              <th class='col-md-3'>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="specialDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Special?
                  </button>
                  <div class="dropdown-menu">
                    <div class="form-check dropdown-item" v-for="boolean in special" v-bind:key="boolean">
                      <input class="form-check-input" type="checkbox" value="" v-bind:id="'special-'+boolean" v-on:change="toggleSpecial(boolean)">
                      <label class="form-check-label" v-bind:for="'special-'+boolean">
                        {{ boolean }}
                      </label>
                    </div>
                  </div>
                </div>
              </th>
              <th class='col-md-3'>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="officeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Offices
                  </button>
                  <div class="dropdown-menu">
                    <div class="form-check dropdown-item" v-for="office in offices" v-bind:key="office">
                      <input class="form-check-input" type="checkbox" value="" v-bind:id="'offices-'+office" v-on:change="toggleOffice(office)">
                      <label class="form-check-label" v-bind:for="'offices-'+office">
                        {{ office }}
                      </label>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class='container' v-for="election in shownElections" v-bind:key="election.id">
            <tr class='row' data-toggle="collapse" v-bind:data-target="'#election-' + election.id">
              <td class='col-md-3'>{{ election.start_date }}</td>
              <td class='col-md-3'>{{ election.race_type }}</td>
              <td class='col-md-3'>{{ election.special }}</td>
              <td class='col-md-3'>{{ election.offices() }}</td>
            </tr>
            <tr class='row'>
              <td colspan=4 class="p-0 col-md-12">
                <div class="card-body collapse election" v-bind:id="'election-' + election.id" data-parent="#election-list" aria-expanded="false">
                  <h5>{{ election.description() }}</h5>
                  <p>
                    <small>
                      <a v-bind:href="election.portal_link">View on {{ election.organizationName }}</a>
                    </small>
                  </p>
                  <strong>Source files:</strong>
                  <ul>
                    <li v-for="direct_link in election.direct_links">
                      <a v-bind:href="direct_link">{{ new URL(direct_link).pathname }}</a>
                    </li>
                  </ul>
                  <div v-if="election.convertedData">
                    <a class="btn btn-bd-download btn-primary converted-link" v-bind:href="election.fullPath()" v-on:click="election.download(event)">
                      <!-- https://github.com/danklammer/bytesize-icons -->
                      <svg class="i-download" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1rem" height="1rem" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 26 L16 30 21 26 M16 16 L16 30" />
                      </svg>
                      <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Converted CSV
                    </a>
                    <a class="d-none blob-ingester" href="#" v-bind:download="election.fileName()"></a>
                  </div>
                  <div v-else>
                    <button class='btn btn-danger disabled' disabled>No converted CSV available</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="election.js"></script>
    <script src="app.js"></script>
  </body>
</html>
