<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>OpenElections Wisconsin</title>
  </head>
  <body>
    <div class="container" id="app">
      <!-- Content here -->
      <div class="row">
        <h1>
          OpenElections Wisconsin
        </h1>
        <a href="https://github.com/openelections/openelections-data-wi">View on GitHub</a>
      </div>
      <div class="row">
        <table class="table col-md-12" id="election-list">
          <thead>
            <tr>
              <!-- Checkbox? -->
              <th>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Year
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">2019</a>
                    <a class="dropdown-item" href="#">2018</a>
                    <a class="dropdown-item" href="#">2017</a>
                    <a class="dropdown-item" href="#">2016</a>
                    <a class="dropdown-item" href="#">2015</a>
                    <a class="dropdown-item" href="#">2014</a>
                    <a class="dropdown-item" href="#">2013</a>
                    <a class="dropdown-item" href="#">2012</a>
                    <a class="dropdown-item" href="#">2011</a>
                    <a class="dropdown-item" href="#">2010</a>
                    <a class="dropdown-item" href="#">2009</a>
                    <a class="dropdown-item" href="#">2008</a>
                    <a class="dropdown-item" href="#">2007</a>
                    <a class="dropdown-item" href="#">2006</a>
                    <a class="dropdown-item" href="#">2005</a>
                    <a class="dropdown-item" href="#">2004</a>
                    <a class="dropdown-item" href="#">2003</a>
                    <a class="dropdown-item" href="#">2002</a>
                    <a class="dropdown-item" href="#">2001</a>
                    <a class="dropdown-item" href="#">2000</a>
                  </div>
                </div>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="monthDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Month
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">January</a>
                    <a class="dropdown-item" href="#">February</a>
                    <a class="dropdown-item" href="#">April</a>
                    <a class="dropdown-item" href="#">May</a>
                    <a class="dropdown-item" href="#">June</a>
                    <a class="dropdown-item" href="#">July</a>
                    <a class="dropdown-item" href="#">August</a>
                    <a class="dropdown-item" href="#">September</a>
                    <a class="dropdown-item" href="#">October</a>
                    <a class="dropdown-item" href="#">November</a>
                    <a class="dropdown-item" href="#">December</a>
                  </div>
                </div>
              </th>
              <th>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="typeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Election Type
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">General</a>
                    <a class="dropdown-item" href="#">Primary</a>
                    <a class="dropdown-item" href="#">General Recall</a>
                    <a class="dropdown-item" href="#">Primary Recall</a>
                  </div>
                </div>
              </th>
              <th>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="specialDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Special?
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">true</a>
                    <a class="dropdown-item" href="#">false</a>
                  </div>
                </div>
              </th>
              <th>
                <div class='dropdown d-inline'>
                  <button type="button" class='btn btn-primary dropdown-toggle' id="officeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Offices
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">President</a>
                    <a class="dropdown-item" href="#">US Senate</a>
                    <a class="dropdown-item" href="#">US House</a>
                    <a class="dropdown-item" href="#">Governor</a>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody v-for="election in shownElections" v-bind:key="election.id">
            <tr data-toggle="collapse" v-bind:data-target="'#election-' + election.id">
              <td>{{ election.start_date }}</td>
              <td>{{ election.race_type }}</td>
              <td>{{ election.special }}</td>
              <td>{{ election.offices() }}</td>
            </tr>
            <tr>
              <td colspan=4 class="p-0">
                <div class="card-body collapse" v-bind:id="'election-' + election.id" data-parent="#election-list" aria-expanded="false">
                  <p>
                    <small>
                      <a v-bind:href="election.portal_link">View on {{ election.organizationName }}</a>
                    </small>
                  </p>
                  <strong>Source files:</strong>
                  <ul>
                    <li v-for="direct_link in election.direct_links">
                      <a v-bind:href="direct_link">{{ direct_link}}</a>
                    </li>
                  </ul>
                  <a class="btn btn-bd-download btn-primary" v-bind:href="election.fullPath()" v-on:click="election.download(event)">
                    <!-- https://github.com/danklammer/bytesize-icons -->
                    <svg class="i-download" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1rem" height="1rem" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 26 L16 30 21 26 M16 16 L16 30" />
                    </svg>
                    <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Converted CSV
                  </a>
                  <a class="d-none blob-ingester" href="#" v-bind:download="election.fileName()"></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="election.js"></script>
    <script src="app.js"></script>
  </body>
</html>
