<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <title>OpenElections Wisconsin</title>
  </head>
  <body>
    <div class="container" id="app">
      <!-- Content here -->
      <div class="row">
        <h1 class='col-md-9'>
          OpenElections Wisconsin
        </h1>
        <a href="https://github.com/openelections/openelections-data-wi" class='col-md-3 text-right'>
          <svg id="i-github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
            <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" />
          </svg>
          View on GitHub
        </a>
      </div>
      <div class="row">
        <table class="table col-md-12" id="election-list">
          <thead class='container'>
            <tr class='row'>
              <th class='col-md-3'>
                <select id='years' multiple="multiple" v-on:change="toggleYear()">
                  <option v-for="year in years" v-bind:value="year">
                    {{ year }}
                  </option>
                </select>
                <select id='months' multiple='multiple' v-on:change="toggleMonth()">
                  <option v-for="month in months" v-bind:value="month">
                    {{ month }}
                  </option>
                </select>
              </th>
              <th class='col-md-3'>
                <select id='types' multiple="multiple" v-on:change="toggleType()">
                  <option v-for="type in types" v-bind:value="type">
                    {{ type }}
                  </option>
                </select>
              </th>
              <th class='col-md-3'>
                <select id='special' multiple="multiple" v-on:change="toggleSpecial()">
                  <option v-for="boolean in special" v-bind:value="boolean">
                    {{ boolean }}
                  </option>
                </select>
              </th>
              <th class='col-md-3'>
                <select id='offices' multiple="multiple" v-on:change="toggleOffice()">
                  <option v-for="office in offices" v-bind:value="office">
                    {{ office }}
                  </option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody class='container' v-for="election in shownElections" v-bind:key="election.id">
            <tr class='row' data-toggle="collapse" v-bind:data-target="'#election-' + election.id">
              <td class='col-md-3'>{{ election.start_date }}</td>
              <td class='col-md-3'>{{ election.race_type }}</td>
              <td class='col-md-3'>{{ election.special }}</td>
              <td class='col-md-3'>{{ election.offices() }}</td>
            </tr>
            <tr class='row'>
              <td colspan=4 class="p-0 col-md-12">
                <div class="card-body collapse election" v-bind:id="'election-' + election.id" data-parent="#election-list" aria-expanded="false">
                  <h5>{{ election.description() }}</h5>
                  <p>
                    <small>
                      <a v-bind:href="election.portal_link">View on {{ election.organizationName }}</a>
                    </small>
                  </p>
                  <strong>Source files:</strong>
                  <ul>
                    <li v-for="direct_link in election.direct_links">
                      <a v-bind:href="direct_link">{{ new URL(direct_link).pathname }}</a>
                    </li>
                  </ul>
                  <div v-if="election.convertedData">
                    <a class="btn btn-bd-download btn-primary converted-link" v-bind:href="election.fullPath()" v-on:click="election.download(event)">
                      <!-- https://github.com/danklammer/bytesize-icons -->
                      <svg class="i-download" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1rem" height="1rem" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 26 L16 30 21 26 M16 16 L16 30" />
                      </svg>
                      <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Converted CSV
                    </a>
                    <a class="d-none blob-ingester" href="#" v-bind:download="election.fileName()"></a>
                  </div>
                  <div v-else>
                    <button class='btn btn-danger disabled' disabled>No converted CSV available</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script> -->
    <script src="bootstrap-select-PR2403.min.js"></script>
    <script src="election.js"></script>
    <script src="app.js"></script>
  </body>
</html>
